<ion-header>
  <ion-toolbar>
    <ion-title>Upload Image</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="camera"></div>
  <input type="file" *ngIf="!imageURL" (change)="fileChanged($event)"/>

  <ion-card *ngIf="imageURL">
    <img  src="https://ucarecdn.com/{{imageURL}}/">
    <ion-card-content>
      <ion-textarea placeholder="Enter some description" [(ngModel)]="desc"></ion-textarea>
      <ion-button shape="round" color="primary" (click)="createPoster()">POST</ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>
